*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sabse-upae-wala:: */

.head{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  
    


}

.logo{
    height: 40px;
    width: 100px;
    /* margin-top: 20px; */
    display: flex;
    border: 1px solid;
    margin-left: 20px;
    align-items: center;
   
}

.logo img{
    width:  80%;
   
}

.options{
    font-size: 20px;
   
    margin-right: 20px;
}

.options :hover{
     box-shadow: 20px 8px 0px 0px rgba(100, 0, 128, 0.5);
     cursor: pointer;
     transform: translateY(-5px);
}

.citys{
    display: flex;
    justify-content: space-around;
    height: 40px;
    padding: 20px 10px;
    align-items: center; 
    border: 1px solid;
    background-color: #F3F5F7;
    
}
select{
    /* width: 120px;
    height: 30px; */
    /* overflow: hidden; */
    
}

select:hover{
    background-color: #F3F5F7 ;
}

.over{
    color: white;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 7px;
}

.third{
    height: 200px;
    background-color:gr ;
    background: linear-gradient(to bottom,gray,black);

}

.para{
    display: flex;
    justify-content: center;
}
/* .info{
    background-color: rgb(214, 10, 21);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    height: 55px;
    width: 250px;
    font-size: 20px;
    
} */

.third .info {
    display: flex;
    flex-wrap: wrap;   /* ✅ lines break ho jaayenge */
    gap: 10px;         /* ✅ spacing maintain hogi */
    justify-content: center;
    width: 100%;
}

.third .info input {
    flex: 1;           /* ✅ auto resize hoga */
    min-width: 160px;  /* ✅ too small hone se bachega */
    padding: 10px;
}




















.gratitude{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
 


@media (max-width:1024px) {

    .citys{
    display: flex;
    justify-content: space-around;
    height: 40px;
    padding: 20px 10px;
    align-items: center; 
    border: 1px solid;
    background-color: #F3F5F7;
    overflow: hidden;
    overflow: scroll;
}
    
}
